.menuBar{
    display: flex;
    justify-content: space-between;
    background-color: #fff;    
    height: 40px;
    line-height: 40px;
    border: 1px solid #E7E8E9;
    border-top: none;
    margin: 0 0 -1px -1px;
}
