.algorithmSearch{
    :global(.ant-input-affix-wrapper){
        width: 250px;
        height: 40px;
        border: 1px solid #E7E8E9;
        margin: -1px 0 0 -1px;
        padding: 4px 10px;
    }
}