/*!
 *
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements. See the NOTICE file distributed with this
 * work for additional information regarding copyright ownership. The ASF
 * licenses this file to You under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */

div.nav {
    background-color: #121212;
    :global(.one-ui-pro-nav-profile) {
        span, svg {
            color: #fff;
        }

        &:hover {
            span, svg {
                color: #0066ff;
            }
        }
    }
}

.logo {
    float: left;
    width: 120px;
    height: 31px;
}

.rightContainer {
  display: flex;
  align-items: center;
  float: right;
  color: #fff;
  cursor: pointer;
}

.right {
  margin-left: 10px;
}

