@import '~@baidu/one-ui/src/index.less';

@primary-color: #2b65ff;
@primary-hover-color: #527dff;
@primary-active-color: #184bcc;

* {
  box-sizing: border-box;
}

html,
body,
img,
ul,
ol,
li,
table,
tr,
th,
td,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #f2f2f2;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.dark {
    background: #000;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tooltips {
  background: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 28px 24px 24px;
}

.no-line-break {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* overrides (global) */

//primary button background colors
.new-fc-one-btn-primary {
  background: @primary-color;

  &:hover {
    background: @primary-hover-color;
  }

  &:active {
    background: @primary-active-color;
  }

  &-disabled {
    background: #d9e6ff;

    &:hover,
    &:active {
      background: #d9e6ff;
    }
  }
}

// Modal titles
.new-fc-one-modal-title {
  font-family: 'PingFangSC-Medium', 'Microsoft YaHei', '微软雅黑', Arial,
    sans-serif;
  font-weight: bold;
  font-size: 16px;
}

// drawers, e.g. metadata-configs vertex/edge types
.new-fc-one-drawer-wrapper-body-small .new-fc-one-drawer-title {
  font-size: 16px;
}

.new-fc-one-drawer-close {
  top: 28px;
}

// z-index input errorlayer in Drawer should be higher
.new-fc-one-drawer-content-wrapper
  .new-fc-one-input-error.new-fc-one-input-error-layer {
  z-index: 1041;
}

// also z-index is invalid if parent node has position: relative
.new-fc-one-drawer-content-wrapper .new-fc-one-input-all-container {
  position: absolute;
}

// Steps process style
.new-fc-one-steps-item-process .new-fc-one-steps-item-icon {
  background: @primary-color;
}

// <Swtich /> checked-color
.new-fc-one-switch-checked {
  background: @primary-color;

  &:hover {
    background: @primary-hover-color;
  }
}

.new-fc-one-radio-button-wrapper-checked {
  border: 1px solid @primary-color;
  background-color: @primary-color;

  &:hover {
    border: 1px solid @primary-hover-color;
    background-color: @primary-hover-color;
  }
}

// <Tab /> hovered color
.new-fc-one-menu-horizontal-box .new-fc-one-menu-item-selected:hover {
  color: @primary-hover-color;
  border-color: @primary-hover-color;
}
