.addNodeDrawer {
    :global {
        .ant-row {
            align-items: center;
        }
        .ant-form-item-label {
            word-break: break-all;
            max-width: 140px;
        }

        .ant-form-item-label > label {
            height: auto;
        }
    }  
    
    :global {
        .ant-form-item-explain-error {
            word-break: break-all;
        }
    }   
}