div.nav {
    background-color: #121212;
    :global(.one-ui-pro-nav-profile) {
        span, svg {
            color: #fff;
        }

        &:hover {
            span, svg {
                color: #0066ff;
            }
        }
    }
}

.logo {
    float: left;
    width: 120px;
    height: 31px;
}

.rightContainer {
  display: flex;
  align-items: center;
  float: right;
  color: #fff;
  cursor: pointer;
}

.right {
  margin-left: 10px;
}

