.container {
    display: inline-block;
    min-height: 230px;
    vertical-align: top;
}

.itemList {
    margin-left: 20px;
    text-align: center;
}

.item {
    width: 160px;
    margin-bottom: 10px;
}
