<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%thread] --- %logger{35} : %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender for GremlinQueryController -->
    <appender name="text2gremlin" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/hugegraph-text2gremlin.log</file> <!-- Specify the path to your log file -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>hugegraph-text2gremlin.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS},%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="info">
        <appender-ref ref="console"/>
    </root>

    <!-- Logger for GremlinQueryController -->
    <logger name="org.apache.hugegraph.controller.query.GremlinQueryController" level="info">
        <appender-ref ref="text2gremlin"/>
    </logger>

</configuration>
