.canvasSetting {
    background: #fff;
    z-index: 1;
    position: absolute;
    right: 0px;
    flex: 1;  
    width: 250px;
    padding: 15px 30px 15px 15px; 
    height: calc(100vh - 40px);
    overflow-y: auto;
    border: 1px solid #E7E8E9;
    margin: -1px 0  0 -1px;

    .canvasSettingTitle {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
    } 
}

.canvasSettingHidden {
    display: none;
}