.searchFavorite {
    float: right;
    margin:16px 20px;
}

.breakWord {
    cursor: pointer;
    word-wrap: break-word;
    word-break: break-word;
}

.highlight {
    color: #1890ff;
    background-color: #fff;
}

.searchBar {
    margin-bottom: 16px;
    text-align: right;
}

