.g6-component-contextmenu {
    padding: 4px 0;
}

.g6-component-contextmenu ul {
    padding: 0;
    width: 80px;
    margin: 0;
    user-select: none;
}

.g6-component-contextmenu li {
    list-style: none;
    list-style-type: none;
    cursor: pointer;
    padding: 2px 10px;
    /* text-align: center; */
}

.g6-component-contextmenu li:hover {
    background-color: #f5f5f5;
}
