/*!
 *
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements. See the NOTICE file distributed with this
 * work for additional information regarding copyright ownership. The ASF
 * licenses this file to You under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */

.fields {
  display: flex;
  margin-top: 3px;
  
  div:first-child {
    width: 120px;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  div:last-child {
    max-width: 200px;
    word-wrap: break-word;
  }

  .edgeTypeTag{
    margin-left: 10px;
  }
}

.fieldWithoutName{
  margin: 10px 0 10px 125px;
}

.subEdges{
margin: 5px 0 5px 100px;

.edgeTypeTag{
  margin-left: 10px;
}
}

.graphNodeInfo {
  margin-top: 3px;
  font-size: 14px;
  line-height: 30px;
  color: #333;
  
  .detailItem {
    display: flex;
    margin: 8px 0;

    div:last-child {
      max-width: 200px;
      word-wrap: break-word;
    }
  }

  .disabled {
      color: #999;
  }    
}

.editForm{
  margin-top : 8px;

  :global {
    .ant-form-item-label {
        word-break: break-all;
    }
  }  
}
