{
  "extends": "stylelint-config-standard",
  "rules": {
    "no-descending-specificity": null,
    "no-duplicate-selectors": null
  },
  "ignoreFiles": [
    "**/*.ts",
    "**/*.tsx",
    "**/*.js",
    "**/*.jsx"
  ]
}
