.navigation {
    margin-top: 10px;
    background-color: #fff;
    flex: 1 1 auto;
}

.header {
    margin-top: 20px;
    text-align: center;
}

.container {
    height: 230px;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}
