name: hugegraph-client-ci

on:
  push:
    branches:
      - master
      - /^release-.*$/
    paths:
      - hugegraph-client/**
      - hugegraph-dist/**
      - .github/workflows/**
      - pom.xml
  pull_request:
    paths:
      - hugegraph-client/**
      - hugegraph-dist/**
      - .github/workflows/**
      - pom.xml

jobs:
  client-ci:
    runs-on: ubuntu-20.04
    env:
      TRAVIS_DIR: hugegraph-client/assembly/travis
      COMMIT_ID: 8abf3d5524de3d3d5a97bbdce460a75652792b0d
    strategy:
      fail-fast: false
      matrix:
        JAVA_VERSION: ['8']
    steps:
      - name: Install JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.JAVA_VERSION }}
          distribution: 'zulu'

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Compile
        run: |
          mvn -e compile -pl hugegraph-client -DskipTests -Dmaven.javadoc.skip=true -ntp

      - name: Prepare env and service
        run: |
          $TRAVIS_DIR/install-hugegraph-from-source.sh $COMMIT_ID

      - name: Run test
        run: |
          mvn test -Dtest=UnitTestSuite,ApiTestSuite,FuncTestSuite -pl hugegraph-client

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3.0.0
        with:
          file: target/jacoco.xml
