name: hugegraph-loader-ci

on:
  push:
    branches:
      - master
      - /^release-.*$/
    paths:
      - hugegraph-loader/**
      - hugegraph-dist/**
      - .github/workflows/**
      - pom.xml
  pull_request:
    paths:
      - hugegraph-loader/**
      - hugegraph-dist/**
      - hugegraph-client/**
      - .github/workflows/**
      - pom.xml

jobs:
  loader-ci:
    runs-on: ubuntu-20.04
    env:
      TRAVIS_DIR: hugegraph-loader/assembly/travis
      STATIC_DIR: hugegraph-loader/assembly/static
      COMMIT_ID: 7621aa71d235374de61139915638c47eea3cdce2
      DB_USER: root
      DB_PASS: root
      DB_DATABASE: load_test
    steps:
      - name: Install JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'zulu'

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Compile
        run: |
          mvn compile -pl hugegraph-client,hugegraph-loader -DskipTests -ntp
          ls && cd hugegraph-loader && ls

      - name: Prepare env and service
        run: |
          $TRAVIS_DIR/install-hadoop.sh
          $TRAVIS_DIR/install-mysql.sh ${{ env.DB_DATABASE }} ${{ env.DB_PASS }}
          $TRAVIS_DIR/install-hugegraph-from-source.sh $COMMIT_ID

      - name: Run test
        run: |
          mvn install -pl hugegraph-client -DskipTests -ntp
          mvn test -P unit,file,hdfs,jdbc -pl hugegraph-loader

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3.0.0
        with:
          file: target/jacoco.xml
