name: "hugegraph-tools-ci"
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - /^release-.*$/
    paths:
      - hugegraph-tools/**
      - hugegraph-dist/**
      - .github/workflows/**
      - pom.xml
  pull_request:
    paths:
      - hugegraph-tools/**
      - hugegraph-dist/**
      - hugegraph-client/**
      - .github/workflows/**
      - pom.xml

jobs:
  tools-ci:
    runs-on: ubuntu-latest
    env:
      TRAVIS_DIR: hugegraph-tools/assembly/travis
      # TODO: could we use one param to unify it? or use a action template (could use one ci file)
      COMMIT_ID: be6ee386b9939dc6bd6fcbdf2274b8acc3a0a314
    steps:
      - name: Install JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Compile
        run: |
          mvn install -pl hugegraph-client,hugegraph-tools -am -Dmaven.javadoc.skip=true -DskipTests -ntp
      - name: Prepare env and service
        run: |
          $TRAVIS_DIR/install-hugegraph-from-source.sh $COMMIT_ID
      - name: Run test
        run: |
          mvn test -Dtest=FuncTestSuite -pl hugegraph-tools -ntp
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3.0.0
        with:
          file: target/jacoco.xml
